body{
font-family: Arial;
padding:20px;
}

.oculto{
display:none;
}

#mensagemErro,
#erroEngajamento,
#erroRedes,
#erroHashtag,
#erroCarteira{
color:red;
margin-top:10px;
font-weight:bold;
}

#conteudo,
#resultadoEngajamento,
#redesSelecionadas{
margin-top:10px;
font-weight:bold;
}

img{
margin-top:10px;
max-width:300px;
display:block;
}

.containerCarteira{
display:flex;
gap:30px;
align-items:center;
}

.botoesCarteira{
display:flex;
flex-direction:column;
gap:10px;
}

button{
margin-top:10px;
cursor:pointer;
}