/* Estilo para o Mini Blog de Tecnologia */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /* Branco */
    color: #011F26; /* Azul muito escuro */
    margin: 0;
    padding: 0;
}

h1 {
    color: #025E73; /* Azul petróleo */
    text-align: center;
}

h2 {
    color: #A5A692; /* Cinza esverdeado */
    text-align: left;
}

p {
    color: #011F26; /* Azul muito escuro */
    text-align: justify;
}

p.autor {
    color: #BFB78F; /* Bege */
    font-style: italic;
}

p.separador {
    text-align: center;
    color: #025E73; /* Azul petróleo */
}