/* Estilo para o Mini Blog com paleta do Adobe Color */
body {
    font-family: Arial, sans-serif;
    background-color: #F4F1DE; /* Bege claro */
    color: #3D405B; /* Azul escuro acinzentado */
    margin: 0;
    padding: 0;
}

h1 {
    color: #81B29A; /* Verde suave */
    text-align: center;
}

h2 {
    color: #E07A5F; /* Vermelho terroso */
    text-align: left;
}

p {
    color: #3D405B; /* Azul escuro acinzentado */
    text-align: justify;
}

p.autor {
    color: #F2CC8F; /* Amarelo suave */
    font-style: italic;
}

p.separador {
    text-align: center;
    color: #81B29A; /* Verde suave */
}
