/* Estilo para o Mini Blog de Tecnologia */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #011F26;
    margin: 0;
    padding: 0;
}

h1 {
    color: #025E73;
    text-align: center;
}

h2 {
    color: #A5A692;
    text-align: left;
}

p {
    color: #011F26;
    text-align: justify;
}

p.autor {
    color: #BFB78F;
    font-style: italic;
}

p.separador {
    text-align: center;
    color: #025E73;
}